@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
.content {
  height: 100vh;
  padding: 5px;
  display: grid;
  place-items: center;
}
.content .intro_container {
  width: 100%;
  padding: 5px;
  overflow: hidden;
  top: 50%;
  height: 80vh;
}
.intro_container .intro_title {
  width: 100%;
  height: 80%;
  padding: 7vw 5vw 5vw 5vw;
  overflow: hidden;
}
.intro_title .intro {
  font-size: 7rem;
  font-weight: 900;
  font-family: "Anton", sans-serif;
  font-style: normal;
  color: #000;
}
.intro_container .intro_quote {
  height: 20%;
  overflow: hidden;
  padding: 3vw 5vw 5vw 5vw;
  width: 100%;
}
.intro_quote .intro_quote_text {
  padding: 8px;
  position: relative;
}
.intro_quote_text .intro_text_link{
  text-decoration: none;
  font-size: 2.3rem;
  font-weight: 700;
  color: #000;
  border-radius: 50px;
  padding: 8px;
}
.intro_text_link:hover{
  font-size: 2.4rem;
  color: greenyellow;
  background-color: black;
  padding: 12px;
}
.margin-padding {
  padding-top: 6%;
}