.cursor {
  background-color: red;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  position: fixed;
  z-index: 200;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(-50%,-50%);
  pointer-events: none;
  overflow: hidden;
  /* position: relative; */
}
.cursor img{
    width: 100%;
    height: auto;
}
