.cursor {
  background-color: red;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  position: fixed;
  z-index: 200;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(-50%,-50%);
  pointer-events: none;
  overflow: hidden;
}
.cursor img{
    opacity: 0;
    width: 100%;
    height: auto;
}
.cursor p{
  font-size: 1rem;
  font-weight: 400;
  opacity: 0;
}
