@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: 0.5s;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  /* cursor: none; */
}

#html {
  overflow: visible;
}

html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.navbar {
  z-index: 100;
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.navbar .nav_logo {
  display: grid;
  place-items: center;
  width: 20%;
  overflow: hidden;
  position: sticky;
  height: 100%;
  padding: 5px;
  
}
.nav_logo span{
  font-size: 3rem;
  font-weight: 900;
  /* background-color: aqua; */
  color: #adff2f;
  text-align: center;
}

.navbar .nav_li {
  padding: 15px 5px 15px 15px;
  top: 0;
  position: sticky;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  backdrop-filter: blur(10px);
  transition: 0.5s;
}

.ham_nav {
  display: none !important;
}

.navbar .nav_li a {
  text-decoration: none;
  margin: 0 10px 0 10px;
  padding: 5px 10px 5px 10px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #000;
  top: 0;
  position: sticky;
  border-radius: 50px;
  background-color: #adff2f;

}
.navbar .nav_li a:hover {
  transform: scale(1.1);
  background-color: #000;
  color: #adff2f;
}

.display-none {
  display: none;
}

/* footer */

.footer {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  position: relative;
}
.footer .parent {
  height: 100%;
  padding: 20px;
  padding-top: 20px;
  background-color: #1b1a1a;
  display: grid;
  place-content: center;
}
.footer .parent .socials {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .parent .socials .button {
  background-color: transparent;
  border: 0;
  z-index: 4;
  padding: 5px;
  padding-top: 35px;
  text-decoration: none;
}
.footer .parent .socials .button i {
  height: 100%;
  overflow: hidden;
  display: grid;
  place-content: center;
  padding: 3px;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 1.6rem;
  color: #fff;
}
.footer .parent .lets_talk {
  color: white;
  font-size: 5rem;
  font-weight: 800;
  display: grid;
  place-items: center;
}
.footer .parent .info {
  width: 100vw;
  height: auto;
  display: flex;
  padding-top: 25px;
  padding-bottom: 5px;
}
.footer .parent .info .mail {
  padding: 8px;
  width: 50%;
  height: 100%;
  display: grid;
  place-items: center;
}
.a {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}
.a:hover {
  font-weight: 700;
}
.md_lv {
  display: none;
}
.footer .parent .info .phone {
  padding: 8px;
  display: grid;
  width: 50%;
  place-items: center;
  position: absolute;
  right: 0;
}
.contact {
  display: grid;
  place-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.contact button {
  border-radius: 50px;
  background-color: transparent;
  border: solid #fff 1px;
  padding: 20px;
  padding-right: 35px;
  padding-left: 35px;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
}
.contact button:hover {
  color: black;
  background-color: white;
}
.session_info {
  width: 100%;
  color: #717070;
  display: grid;
  place-items: center;
}
